   body {
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -o-user-select: none;
     user-select: none;
     -webkit-user-drag: none;

     background-repeat: no-repeat;

     padding: 0px;
     margin: 0px;
     cursor: default;

     background-image: url('../images/bg.png');
   }

   .previewlist  {
     margin-top: 14px;
     margin-left: 8px;
     padding: 20px;
   }

   .previewlist h1 {
     font-family: arial;
     color: white;
     text-shadow: 1px 1px 1px #000;
     text-align: right;
     margin: 32px 90px 20px 0;
     padding: 0px;
     line-height: 38px;
     font-size: 32px;
   }

   .puzzle.preview {
     float: left;
     width: 110px;
     height: 148px;
     padding: 6px;
     margin-right: 6px;
     color: white;
     font-family: arial;
     font-weight: bold;
     text-shadow: 1px 1px 1px #000;
   }

   .puzzle.preview .title {
     height: 32px;
     line-height: 32px;
   }

   .puzzle.preview canvas {
     border: 2px solid gray;
     /*background-color: #8a8a8a;*/
     background-image: url('../images/previewbg.png');
     cursor: pointer;
   }

   .puzzle.preview.unsolved canvas {
     background-image: url('../images/previewunsolvedbg.png');
   }

   .main {
      width: 1024px;
      height: 768px;
      overflow: hidden;
      position: relative;
   }

   .content {
     width: 1024px;
     height: 768px;
     position: relative;
   }

   .popup {
     display: none; /* overwritten by jquery, must keeped here*/
     width: 310px;
     position: absolute;
     top: 264px;
     left: 258px;
     font-size: 20px;
     width: 508px;
     height: 239px;
     background-image: url('../images/popupbg.png');
   }

   .popup .buttons {
     list-style-type: none;
     padding: 0px;
     margin: 20px 20px;
   }

   .popup.de .buttons li.tutorial {
     background-image: url('../images/de/popup_tutorial.png');
     height: 34px;
     width: 359px;
     margin: 50px 0 0 20px;
   }

   .popup.de .buttons li.togame {
     background-image: url('../images/de/popup_topuzzle.png');
     height: 37px;
     width: 393px;
     margin: 50px 0 0 20px;
   }

   .popup.en .buttons li.tutorial {
     background-image: url('../images/en/popup_tutorial.png');
     height: 31px;
     width: 328px;
     margin: 50px 0 0 20px;
   }

   .popup.en .buttons li.togame {
     background-image: url('../images/en/popup_topuzzle.png');
     height: 34px;
     width: 367px;
     margin: 50px 0 0 20px;
   }



   .content.intro {
     background-image: url('../images/intro.png');
   }



   .content.select .buttons {
     font-size: 50px;
     font-weight: bold;
     color: white;
     font-family: arial;
     text-align: center;
     list-style-type: none;
     margin: 160px 0 0 0;
     padding: 0px;
   }

   .content.select .buttons li {
     background-position: top center;
     background-repeat: no-repeat;
     height: 96px;
   }

   .content.select .buttons.de li.list {
     height: 128px;
     background-image: url('../images/de/puzzles_link.png');
   }

   .content.select .buttons.de li.howtoplay {
     background-image: url('../images/de/tutorial_link.png');
   }

   .content.select .buttons.de li.morepuzzles {
     background-image: url('../images/de/morepuzzles_link.png');
   }

   .content.select .buttons.de li.changelanguage {
     background-image: url('../images/de/language_link.png');
   }



   .content.select .buttons.en li.list {
     height: 128px;
     background-image: url('../images/en/puzzles_link.png');
   }

   .content.select .buttons.en li.howtoplay {
     background-image: url('../images/en/tutorial_link.png');
   }

   .content.select .buttons.en li.morepuzzles {
     background-image: url('../images/en/morepuzzles_link.png');
   }

   .content.select .buttons.en li.changelanguage {
     background-image: url('../images/en/language_link.png');
   }




   .content.puzzle.field5_5 {
     background-image: url('../images/5_5bg.png');
   }

   .content.puzzle.field10_10 {
     background-image: url('../images/10_10bg.png');
   }

   .content.puzzle.field15_15 {
     background-image: url('../images/15_15bg.png');
   }

   .content.puzzle .center {
     width: 1024px;
     height: 768px;
     display: table-cell;
     vertical-align: middle;
   }

   .content .layer {
     position: absolute;
     left: 0;
     top: 0;
     width: 1024px;
     height: 768px;
   }

   .content .layer.solved.bg {
     background-image: url('../images/solvedbg.png');
   }

   .content .layer.failed.bg {
     background-image: url('../images/failedbg.png');
   }


   .content.puzzle .layer.solved.de {
     background-image: url('../images/de/solved.png');
   }

   .content.puzzle .layer.solved.en{
     background-image: url('../images/en/solved.png');
   }


   .content.puzzle .layer.failed.de {
     background-image: url('../images/de/failed.png');
   }

   .content.puzzle .layer.failed.en {
     background-image: url('../images/en/failed.png');
   }


   .content.puzzle .timer {
     font-family: monospace;
     position: absolute;
     top: 32px;
     left: 896px;
     padding-top: 2px;
     padding-left: 6px;
     color: white;
     font-size: 28px;
     line-height: 32px;
   }

   .content .backbutton {
     position: absolute;
     top: 20px;
     left: 36px;
     font-size: 30px;
     cursor: pointer;
     width: 145px;
     height: 95px;
   }

   .content .backbutton.de {
     background-image: url('../images/de/back.png');
   }

   .content .backbutton.en {
     background-image: url('../images/en/back.png');
   }

   .content.text div.text {
     position: absolute;
     left: 20px;
     top: 140px;
     right: 20px;
     bottom: 20px;
     padding: 40px;
     color: white;
     font-family: arial;
     font-size: 24px;
   }

   .content.text h1 {
     font-size: 48px;
     position: absolute;
     top: 20px;
     right: 20px;
     text-align: right;
     color: white;
     font-family: arial;
   }

   .content.text div.text table.picross td {
     border: 1px solid white;
     width: 26px;
     height: 26px;
     text-align: center;
     vertical-align: middle;
   }

   .content.text div.text table.picross td.head {
      background-color: gray;
   }

   .content.text div.text table.picross td.solved {
      background-color: green;
   }


   .content.text div.text .next {
     height: 95px;
     width: 145px;
     background-image: url(../images/de/next.png);
     position: absolute;
     right: 20px;
     bottom: 20px;
   }

   .content.text div.text .back {
     height: 95px;
     width: 145px;
     background-image: url(../images/de/back.png);
     position: absolute;
     right: 20px;
     bottom: 20px;
   }

   .content.text div.text .puzzle1 {
     color: blue;
     text-decoration: underline;
     color: #47a6ff;
   }



   .content.text div.bg {
     border: 1px solid black;
     position: absolute;
     left: 20px;
     top: 140px;
     right: 20px;
     bottom: 20px;
     background-color: black;
     opacity: 0.3;
   }

   .content.language .selectlang {
     color: white;
     font-weight: bold;
     font-family: arial;
     font-size: 40px;
     position: absolute;
     top: 60px;
     left: 200px;
   }

   .content.language .list {
     position: absolute;
     left: 0;
     right: 20px;
     top: 100px;
     color: white;
     margin-top: 60px;
     font-family: arial;
     font-size: 60px;
     list-style-type: none;
   }

   .content.language .list li {
      height: 200px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center center;
   }

   .content.language .list li.de {
      background-image: url('../images/deutsch.png');
   }

   .content.language .list li.en {
      background-image: url('../images/english.png');
   }

   .playfield {
     font-family: arial;
     position: absolute;
     left: 161px;
     top: 33px;
   }

   .playfield td {
     vertical-align: bottom;
     text-align: right;
     height: 31px;
     width: 31px;
     cursor: pointer;
     margin-bottom: 10px;
     margin-right: 10px;

     border-right: 1px solid #333333;
     border-bottom: 1px solid #333333;
   }

   .playfield td.corner {
     border: 0;
   }

   .playfield .header {
     width: auto;
     height: auto;
     letter-spacing: -2px;
     font-size: 18px;
     color: #949494; /*#767676;*/

     border-right: 0px;
     border-bottom: 0px;
   }

   .playfield .header.done {
     color: green;
   }

   .playfield .header div {
     width: 32px;
     height: 32px;
     text-align: center;
     line-height: 31px;
   }

   .playfield .header.col div {
     height: 32px;
   }

   .playfield .header.row div {
     float: right;
   }

   .playfield .header.col {
     height: 160px;
   }

   .playfield .header.row {
     width: 192px;
   }

   .playfield .fifthx {
     border-right: 1px solid black;
   }

   .playfield .fifthy {
     border-bottom: 1px solid black;
   }


   .playfield .empty {
     background-color: #444444;
   }

   .playfield .checked {
     background-color: #e0e0e0;
   }

   .playfield .marked {
     background-image: url('../images/block_marked.png');
   }

   .playfield .mistake {
     background-image: url('../images/block_mistake.png');
   }

   .playfield.solved .checked {
     background-color: green;
   }

   .playfield.solved .mistake, .playfield.solved .marked {
     background-image: none;
     background-color: #444444;
   }

   .modeswitch {
     margin-top: 10px;
     font-family: arial;
     font-size: 14px;
     color: gray;
     position: absolute;

     width: 90px;
     left: 50px;
     top: 190px;
   }

   .modeswitch .button {
     width: 100px;
     height: 101px;
     margin-bottom: 20px;
     cursor: pointer;
   }

   .modeswitch .check.active {
     background-image: url('../images/fill.png');
   }

   .modeswitch .check {
     background-image: url('../images/fill_inactive.png');
   }

   .modeswitch .mark.active {
     background-image: url('../images/mark.png');
   }

   .modeswitch .mark {
     background-image: url('../images/mark_inactive.png');
   }