   body {
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -o-user-select: none;
     user-select: none;
     -webkit-user-drag: none;

     background-repeat: no-repeat;

     padding: 0px;
     margin: 0px;
     cursor: default;

     background-image: url('../images/bg.png');
   }

   .previewlist  {
     margin-top: 14px;
     margin-left: 8px;
     padding: 20px;
   }

   .previewlist h1 {
     font-family: arial;
     color: white;
     text-shadow: 1px 1px 1px #000;
     text-align: right;
     margin: 32px 90px 20px 0;
     padding: 0px;
     line-height: 38px;
     font-size: 32px;
   }

   .puzzle.preview {
     float: left;
     width: 110px;
     height: 148px;
     padding: 6px;
     margin-right: 6px;
     color: white;
     font-family: arial;
     font-weight: bold;
     text-shadow: 1px 1px 1px #000;
   }

   .puzzle.preview .title {
     height: 32px;
     line-height: 32px;
   }

   .puzzle.preview canvas {
     border: 2px solid gray;
     /*background-color: #8a8a8a;*/
     background-image: url('../images/previewbg.png');
     cursor: pointer;
   }

   .puzzle.preview.unsolved canvas {
     background-image: url('../images/previewunsolvedbg.png');
   }

   .main {
      width: 1024px;
      height: 768px;
      overflow: hidden;
      position: relative;
   }

   .content {
     width: 1024px;
     height: 768px;

     position: relative;
   }

   .popup {
     background-color: white;
     border: 2px solid green;
     padding: 20px;
     width: 310px;
     position: absolute;
     top: 300px;
     left: 352px;
     font-size: 20px;
   }

   .popup .buttons {
     list-style-type: none;
     padding: 0px;
     margin: 10px 0px;
   }

   .popup .buttons li {
     display: block;
     width: 130px;
     border: 1px solid red;
     padding: 6px;
     float: left;
     margin-right: 10px;
   }

   .content.intro {
     background-image: url('../images/intro.png');
   }

   .content.select .buttons {
     font-size: 50px;
     font-weight: bold;
     color: white;
     font-family: arial;
     text-align: center;
     list-style-type: none;
     margin: 152px 0 0 0;
     padding: 0px;
   }

   .content.select .buttons li {
     margin-bottom: 32px;
   }

   .content.select .buttons li.list {
     font-size: 70px;
     color: #859ce5;
   }

   .content.puzzle.field5_5 {
     background-image: url('../images/5_5bg.png');
   }

   .content.puzzle.field10_10 {
     background-image: url('../images/10_10bg.png');
   }

   .content.puzzle.field15_15 {
     background-image: url('../images/15_15bg.png');
   }

   .content.puzzle .center {
     width: 1024px;
     height: 768px;
     display: table-cell;
     vertical-align: middle;
   }

   .content.puzzle .layer.solved {
     position: absolute;
     left: 0;
     top: 0;
     width: 1024px;
     height: 768px;
     background-repeat: no-repeat;
     background-position: top center;
   }

   .content.puzzle .layer.solved.de {
     background-image: url('../images/de/solved.png');
   }

   .content.puzzle .layer.solved.en{
     background-image: url('../images/en/solved.png');
   }

   .content.puzzle .layer.failed {
     position: absolute;
     left: 0;
     top: 0;
     width: 1024px;
     height: 768px;
     background-repeat: no-repeat;
     background-position: top center;
   }

   .content.puzzle .layer.failed.de {
     background-image: url('../images/de/failed.png');
   }

   .content.puzzle .layer.failed.en {
     background-image: url('../images/en/failed.png');
   }

   .content.puzzle .timer {
     font-family: monospace;
     position: absolute;
     top: 32px;
     left: 896px;
     padding-top: 2px;
     padding-left: 6px;
     color: white;
     font-size: 28px;
     line-height: 32px;
   }

   .content .backbutton {
     position: absolute;
     top: 37px;
     left: 36px;
     font-size: 30px;
     cursor: pointer;
     width: 175px;
     height: 55px;
   }

   .content .backbutton.de {
     background-image: url('../images/de/back.png');
   }

   .content .backbutton.en {
     background-image: url('../images/en/back.png');
   }

   .content.more p {
     border: 1px solid black;
     position: absolute;
     left: 20px;
     top: 100px;
     right: 20px;
     bottom: 20px;
     background-color: black;
     padding: 20px;
     color: white;
   }

   .content.language .selectlang {
     color: white;
     font-weight: bold;
     font-family: arial;
     font-size: 40px;
     position: absolute;
     top: 60px;
     left: 200px;
   }

   .content.language .list {
     position: absolute;
     left: 200px;
     top: 100px;
     color: white;
     font-family: arial;
     font-size: 60px;
     list-style-type: none;
   }

   .content.language .list li {
      margin-bottom: 20px;
      border: 1px solid gray;
      background-color: brown;
      padding: 6px;
   }


   .playfield {
     font-family: arial;
     position: absolute;
     left: 193px;
     top: 33px;
   }

   .playfield td {
     vertical-align: bottom;
     text-align: right;
     height: 31px;
     width: 31px;
     cursor: pointer;
     margin-bottom: 10px;
     margin-right: 10px;

     border-right: 1px solid #333333;
     border-bottom: 1px solid #333333;
   }

   .playfield td.corner {
     border: 0;
   }

   .playfield .header {
     width: auto;
     height: auto;
     letter-spacing: -2px;
     font-size: 18px;
     color: #949494; /*#767676;*/

     border-right: 0px;
     border-bottom: 0px;
   }

   .playfield .header.done {
     color: green;
   }

   .playfield .header div {
     width: 32px;
     height: 32px;
     text-align: center;
     line-height: 31px;
   }

   .playfield .header.col div {
     height: 32px;
   }

   .playfield .header.row div {
     float: right;
   }

   .playfield .header.col {
     height: 160px;
   }

   .playfield .header.row {
     width: 160px;
   }

   .playfield .fifthx {
     border-right: 1px solid black;
   }

   .playfield .fifthy {
     border-bottom: 1px solid black;
   }


   .playfield .empty {
     background-color: #444444;
   }

   .playfield .checked {
     background-color: #e0e0e0;
   }

   .playfield .marked {
     background-image: url('../images/block_marked.png');
   }

   .playfield .mistake {
     background-image: url('../images/block_mistake.png');
   }

   .playfield.solved .checked {
     background-color: green;
   }

   .playfield.solved .mistake, .playfield.solved .marked {
     background-image: none;
     background-color: #444444;
   }

   .modeswitch {
     margin-top: 10px;
     font-family: arial;
     font-size: 14px;
     color: gray;
     position: absolute;

     width: 90px;
     left: 68px;
     top: 190px;
   }

   .modeswitch .button {
     width: 85px;
     height: 85px;
     margin-bottom: 20px;
     cursor: pointer;
   }

   .modeswitch .check.active {
     background-image: url('../images/fill.png');
   }

   .modeswitch .check {
     background-image: url('../images/fill_inactive.png');
   }

   .modeswitch .mark.active {
     background-image: url('../images/mark.png');
   }

   .modeswitch .mark {
     background-image: url('../images/mark_inactive.png');
   }